<!DOCTYPE html>
<html ng-app="mtgApp">
<head>
	<title>MTG Cardster</title>
	<meta name="viewport" content="width=device-width, initial-scale=.75, maximum-scale=.75">
	<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>

</head>
<body ng-controller="cardsterCtrl">test
	<div id="wrapper" >
		<header>
			<h1>MTG Cardster</h1>
			<div id="searchContainer">
				<div class="form-group">					
					<div class="input-group">
					    <input class="form-control" id="cardQuery" type="text" placeholder="Search for Card" ng-model="cardName">
					    <span ng-click="getCard(cardName)" class="input-group-btn">
			            	<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
			          	</span>
					</div>
				</div>
			</div>
		</header>
		<form class="form-inline well">
			<div class="form-group">
			    <input class="form-control" id="searchQuery" type="text" placeholder="Filter by Name" ng-model="searchQuery.name">
			</div>
			<div class="form-group">
			    <div class="input-group">
			      	<div class="input-group-addon">Mana Color:</div>
			      	<select class="form-control"id="manaType" ng-model="filterColor.colors" >
						<option value="">All</option>
						<option value="Black">Black</option>
						<option value="Blue">Blue</option>
						<option value="Green">Green</option>
						<option value="Red">Red</option>
						<option value="White">White</option>
						<option value="None">Colorless</option>
					</select>
			    </div>
			</div>
			<div class="form-group">
			    <div class="input-group">
			      	<div class="input-group-addon">Card Rarity:</div>
			      	<select id="cardAttributes" class="form-control" ng-model="filterRarity">
			      		<option value="">All</option>
			      		<option>Common</option>
			      		<option>Uncommon</option>
			      		<option>Rare</option>
			      		<option>Mythic Rare</option>
			      		<option>Basic Land</option>
			      		<option>Special</option>
			      		<option>Bonus</option>
			      	</select>
			    </div>
			  </div>
			<div class="form-group">
			    <div class="input-group">
			      	<div class="input-group-addon">Card Type</div>
			      	<select id="cardType" class="form-control" ng-model="filterType.type">
							<option value="">All</option>
							<option ng-repeat="item in mtgCardType">{{item}}</option>
						</select>
			    </div>
			</div>
			<div class="form-group">
			    <div class="input-group">
			      	<div class="input-group-addon">Card Subtype</div>
			      	<select class="form-control" id="cardSubtype" ng-model="filterType.subType">
						<option value="">All</option>
						<option ng-repeat="item in mtgCardSubtype">{{item}}</option>
					</select>
			    </div>
			</div>
		</form>
		<section class="panel panel-default">
			<div class="panel-body">
				<div id="setSelectContainer" class="well">
					<div id="setSelectTitle">
						<h2 ng-model="mtgData">{{mtgData.data[0].cardSetName}}</h2>
					</div>
					<div id="setSelectField" class="form-group">
					    <div class="input-group">
					      	<div class="input-group-addon">Select Set</div>
					      	<select class="form-control" id="selectSet" ng-model="random" ng-options="poop.name as poop.name  for poop in mtgCardSet | orderBy : 'releasedAt' : true" ng-change="selectSet(random)" autofocus>
							</select>
					    </div>
					</div>
				</div>
				<br>
				<div>
					
					<ul class="list-unstyled" ng-model="allCards">
						<li class="cardListItem inline_block" ng-repeat="item in mtgData.data | filter: filterColor | filter: filterRarity: true | filter: filterType | filter: filterSubType | filter:searchQuery">
								
								<img id="{{item.id}}" class="card_image large_image" ng-click="launchModal( item.id )" src="http://api.mtgdb.info/content/card_images/{{item.id}}.jpeg" />

							
							
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>
	<div id="loadingImageContainer" ng-show="loadingSpinner">
		<img src="images/loader.gif" />
	</div>

	<div class="modal" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="cardModal" aria-hidden="true">
		<div class="modal-dialog">
		    <div class="modal-content">
		      	<div class="modal-body">
		      		<button id="modalClose" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		      		<div id="largeCardImageContainer"></div>
		      		<div id="extraInfoContainer" ng-model="cardInfo">
		      			<div id="modalCardName" class="modalCardInfo"><strong>{{cardInfo.name}}</strong></div>
		      			<div id="modalCardType" class="modalCardInfo text-center"><strong>{{cardInfo.type}} {{cardInfo.subType}}</strong></div>
		      			<div class="well">
			      			
			      			<div id="modalCardColors" class="modalCardInfo"><strong>Colors:</strong>{{cardInfo.colors}}</div>
			      			<div id="modalCardPT" class="modalCardInfo"><strong>Power / Toughness:</strong> {{cardInfo.power}} / {{cardInfo.toughness}}</div>
			      			
			      			<div id="modalCardDescription" class="modalCardInfo">
			      				<strong>Description:</strong>
			      				<br>
			      				{{cardInfo.description}}
			      			</div>
			      			<div id="modalCardRarity" class="modalCardInfo"><strong>Rarity:</strong> {{cardInfo.rarity}}</div>
			      			<div id="modalCardSet" class="modalCardInfo"><strong>Set: </strong>{{cardInfo.cardSetId}}</div>
			      			<div id="modalCardPrices" class="modalCardInfo">{{cardInfo.cardPrice}}</div>
			      			<br>
			      			<div id="modalCardFlavor" class="modalCardInfo text-center" ng-show="cardInfo.flavor.length"><em>{{cardInfo.flavor}}</em></div>
			      		</div>
		      		</div>
		      	</div>
		    </div>
		</div>
	</div>
<script>
</script>
<script type="text/javascript" src="script.js"></script>
</body>
</html>